@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@00&display=swap');

html {
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--primary);
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

a {
    text-decoration: none;
    color: var(--primary);
}

blockquote {
    padding-left: 20px;
    border-left: solid 2px var(--primary);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

blockquote>span {
    line-height: 1.5rem;
}

p {
    line-height: 1.3rem;
    margin: 5px 0;
    font-family: 'Roboto Slab', 'Roboto', serif;
    text-align: justify;
}