header>a {
    display: flex;
    align-items: center;
    color: var(--primary);
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 50px;
    font-family: 'Roboto Slab', serif;
}

header h1,
main h1 {
    margin-left: 20px;
}

main h1>span {
    margin-left: 20px;
    display: block;
    font-weight: 300;
    color: var(--secondary);
}

main>p {
    color: var(--primary);
}

main>p strong {
    color: var(--primary);
    font-weight: 600;
}


footer {
    text-align: center;
    margin: 20px;
}